In [1]:
import sqlite3

In [4]:
conn = sqlite3.connect('demo_data.sqlite3')
curs = conn.cursor()

In [5]:
curs.execute('CREATE TABLE IF NOT EXISTS demo ( \
s TEXT NOT NULL, \
x INT NOT NULL, \
y INT NOT NULL \
)')

In [7]:
curs.execute("INSERT INTO demo(s,x,y) \
VALUES \
('g', 3, 9), \
('v', 5, 7), \
('f', 8, 7)")

In [8]:
test = curs.execute('SELECT * FROM demo').fetchall()
print(test)

[('g', 3, 9), ('v', 5, 7), ('f', 8, 7)]

In [9]:
conn.commit()

In [16]:
rows = curs.execute('SELECT COUNT(*) FROM demo').fetchall()
print("The amount of rows in this table:",rows[0][0])

The amount of rows in this table: 3

In [20]:
five_up = curs.execute('SELECT COUNT(*) FROM demo WHERE x>4 AND y>4').fetchall()
print("The total of rows with both x and y:",five_up[0][0])
print("No, there are not at least 5 rows.")

The total of rows with both x and y: 2
No, there are not at least 5 rows.

In [6]:
unique = curs.execute('SELECT COUNT(DISTINCT y) FROM demo').fetchall()
print("The amount of unique values of y:",unique[0][0])

The amount of unique values of y: 2

In [21]:
conn.close()