In [46]:
import sqlite3
from tabulate import tabulate
northwind = 'northwind_small.sqlite3'

In [47]:
conn = sqlite3.connect(northwind)
c = conn.cursor()

In [48]:
c.execute("""SELECT name \
FROM sqlite_master \
WHERE type='table' \
ORDER BY name;""").fetchall()

[('Category',),
 ('Customer',),
 ('CustomerCustomerDemo',),
 ('CustomerDemographic',),
 ('Employee',),
 ('EmployeeTerritory',),
 ('Order',),
 ('OrderDetail',),
 ('Product',),
 ('Region',),
 ('Shipper',),
 ('Supplier',),
 ('Territory',)]

In [49]:
# Ten most expensive items per unit price with descending order

top_products = c.execute('SELECT ProductName, UnitPrice \
FROM Product \
ORDER BY UnitPrice DESC LIMIT 10').fetchall()
print(tabulate(top_products, headers =["Item", "Price"]))

Item                       Price
-----------------------  -------
Côte de Blaye             263.5
Thüringer Rostbratwurst   123.79
Mishi Kobe Niku            97
Sir Rodney's Marmalade     81
Carnarvon Tigers           62.5
Raclette Courdavault       55
Manjimup Dried Apples      53
Tarte au sucre             49.3
Ipoh Coffee                46
Rössle Sauerkraut          45.6

In [50]:
#What is the average age of an employee at the time of their hiring?

avg_age = c.execute("SELECT AVG(HireDate - BirthDate) \
FROM Employee").fetchall()
print("The average age at the time of their hiring:", avg_age)

The average age at the time of their hiring: [(37.22222222222222,)]

In [51]:
# What are the ten most expensive items (per unit price) in the
# database *and*their suppliers?

top_supp = c.execute('SELECT ProductName, UnitPrice, CompanyName \
FROM Product \
INNER JOIN Supplier on Supplier.Id = Product.SupplierID \
ORDER BY UnitPrice DESC \
Limit 10').fetchall()
print(tabulate(top_supp, headers=["Product", "Price", "Company"]))

Product                    Price  Company
-----------------------  -------  ---------------------------------
Côte de Blaye             263.5   Aux joyeux ecclésiastiques
Thüringer Rostbratwurst   123.79  Plutzer Lebensmittelgroßmärkte AG
Mishi Kobe Niku            97     Tokyo Traders
Sir Rodney's Marmalade     81     Specialty Biscuits, Ltd.
Carnarvon Tigers           62.5   Pavlova, Ltd.
Raclette Courdavault       55     Gai pâturage
Manjimup Dried Apples      53     G'day, Mate
Tarte au sucre             49.3   Forêts d'érables
Ipoh Coffee                46     Leka Trading
Rössle Sauerkraut          45.6   Plutzer Lebensmittelgroßmärkte AG

In [52]:
# What is the largest category (by number of products in it)?

largest = c.execute('SELECT CategoryName, COUNT(DISTINCT Product.Id) \
FROM Product \
INNER JOIN Category ON Category.Id = Product.CategoryID \
GROUP BY CategoryName \
ORDER BY COUNT(DISTINCT Product.Id) DESC \
LIMIT 1').fetchall()
print('The largest category sorted by the amount of products in it:', largest[0][0])

The largest category sorted by the amount of products in it: Confections

In [53]:
conn.close()